@model IEnumerable<DesenvolvendoCRUDdeAnimal.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDADE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JAU_COD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDADE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JAU_COD)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ANI_COD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ANI_COD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ANI_COD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
